{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{#
{% block hero %}
<section class="bg-white dark:bg-gray-900">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1
                class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
                Payments tool for software companies</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">From
                checkout to global sales tax compliance, companies around the world use Flowbite to simplify their
                payment stack.</p>
            <a href="#"
                class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                Get started
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </a>
            <a href="#"
                class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                Speak to Sales
            </a>
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/phone-mockup.png" alt="mockup">
        </div>
    </div>
</section>
{% endblock %}
#}

{% block body %}
<div class="container mx-auto ">
    <!-- <img class="w-full" src="../static/doctor-image.jpg" alt=""> -->
    <!-- both are same -->
    <!-- {{url_for('static',filename='doctor-image.jpg')}} -->
    <!-- "../static/doctor-image.jpg" -->
    <!-- <div class="relative w-full h-96">
        <img class="object-cover w-full h-full" src="../static/doctor-image.jpg" alt="">

        <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center">
            <h1 class="text-3xl font-extrabold text-white">Welcome to Health</h1>
        </div>
    </div> -->

    {% if session["user_type"] == "doctor" %}
    <div>Welcome again doctor </div>
    
    
    {% elif session["user_type"] == "patient" %}
    <div>Welcome again patient </div>
   
    {% else %}
    <section class=""> bg-gray-50
        <div class="mx-auto max-w-screen-xl px-4 py-32  lg:h-screen lg:items-center">
            <div class="mx-auto max-w-xl text-center">
                <h1 class="text-xl">User type: {{session["user_type"]}}</h1>
                <h2 class="text-xl">User id: {{session["user_id"]}}</h2>
                <h1 class="text-3xl font-extrabold sm:text-5xl">
                    Patient Management and appointment
                    <strong class="font-extrabold text-red-700 sm:block"> will be EASY </strong>
                </h1>

                <p class="mt-4 sm:text-xl/relaxed">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illo tenetur fuga ducimus
                    numquam ea!
                </p>

                <div class="mt-8 flex flex-wrap justify-center gap-4">
                    <a class="block w-full rounded bg-primary-c-100 px-12 py-3 text-sm font-medium text-white shadow hover:bg-primary-c-200 focus:outline-none focus:ring active:bg-primary-c-200 sm:w-auto"
                        href="{{ url_for('auth.patient_sign_up')}}">
                        As Patient
                    </a>

                    <a class="block w-full rounded bg-primary-c-100 px-12 py-3 text-sm font-medium text-white shadow hover:bg-primary-c-200 focus:outline-none focus:ring active:bg-primary-c-200 sm:w-auto"
                        href="{{url_for('auth.doctor_sign_up')}}">
                        As Doctor
                    </a>

                    <a class="block w-full rounded px-12 py-3 text-sm font-medium text-accent-c-100 shadow hover:border  hover:border-primary-c-100 focus:outline-none focus:ring active:text-text-c sm:w-auto"
                        href="/about">
                        Learn More
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endif %}
{% endblock %}
